body{
background-color:white;		
}

div#content{
position:absolute;
left:50%;
top:50%;
margin:-100px 0 0 -145px;
width:290px;
height:200px;
font-family:"tahoma";
font-size:14px;
font-weight:bold;
}

div#content span {
float:clear;
display:block;
text-align:center;
}

div#content span:nth-child(2) {
text-transform:uppercase;
}